.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-color);
    width: 30%;
    height: 60px;
    border: 2px solid var(--box-color);
    box-shadow: 3px 3px 0 var(--box-color);
    border-radius: 16px;
    color: var(--text-color-opacity);
    z-index: 1000;
}

.span {
    display: none;
    font-size: 16px;
}

.active .span {
    display: block;
}

@media (max-width: 740px) {
    .wrapper {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: 100vw;
        transform: none;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        z-index: 1000;
        height: 100px;
    }
}

@media (min-width: 741px) and (max-width: 1023px) {
    .wrapper {
        width: 350px;
    }
}
