.wrapper {
  margin-top: 150px;
}

.header {
  text-align: center;
  font-family: var(--font-heading);
  padding: 32px 0;
}

.heading-form {
  text-align: center;
  font-size: 20px;
}

.form {
  padding-bottom: 32px;
  background-color: #ccc;
}

.form-input {
  position: relative;
}

.input {
  font-family: var(--font-text);
  color: var(--text-color);
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  outline: none;
  border: 2px solid var(--box-color);
  margin: 16px 0;
  box-shadow: 4px 4px 0 var(--box-color);
  border-radius: 8px;
  position: relative;
}
.input::-moz-placeholder {
  font-family: var(--font-text);
  color: var(--text-color);
}
.input:-ms-input-placeholder {
  font-family: var(--font-text);
  color: var(--text-color);
}
.input::placeholder {
  font-family: var(--font-text);
  color: var(--text-color);
}

.input:not(:-moz-placeholder-shown) + label {
  top: 12px;
  padding-right: 12px;
}

.input:not(:-ms-input-placeholder) + label {
  top: 12px;
  padding-right: 12px;
}

.input:not(:placeholder-shown) + label,
.input:focus + label {
  top: 12px;
  padding-right: 12px;
}

.form-input label {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  padding-left: 4px;
  color: var(--text-color-opacity);
  transition: top ease 0.3s, padding linear 0.4s;
}

div .wrapper {
  display: flex;
  align-items: flex-start;
}

.cart {
  flex: 2;
  margin-right: 24px;
  background-color: var(--background-color);
  border-radius: 20px;
}

.cart-heading {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: var(--font-heading);
  padding: 16px 0;
  background-color: var(--btn-hover-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.content {
  min-height: 200px;
  max-height: 500px;
  overflow: scroll;
  overflow-y: overlay;
}

.note {
  font-weight: 700;
  color: rgba(22, 33, 62, 0.2);
  padding: 18px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.payment {
  flex: 1;
  border: 2px solid var(--box-color);
  box-shadow: 4px 4px 0 var(--box-color);
  border-radius: 14px;
  padding: 8px 16px;
  position: relative;
}

.payment-heading {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: var(--font-heading);
  padding: 16px 0;
}

.discount {
  margin-bottom: 30px;
}
.discount label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}
.discount .input-discount {
  display: flex;
}
.discount input {
  flex: 1;
  outline: none;
  padding: 0 8px;
  border: 1px solid var(--box-color);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--box-color);
}
.discount input::-moz-placeholder {
  font-size: var(--font-text);
}
.discount input:-ms-input-placeholder {
  font-size: var(--font-text);
}
.discount input::placeholder {
  font-size: var(--font-text);
}
.discount button {
  height: 30px;
  font-size: var(--font-text);
  background-color: var(--box-color);
  color: #fff;
  padding: 0 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid var(--box-color);
  cursor: pointer;
}
.discount button:hover {
  filter: brightness(90%);
}
.discount p {
  margin-top: 8px;
}
.discount .valid {
  font-size: 14px;
  color: #7dce13;
}
.discount .illegal {
  font-size: 14px;
  color: var(--red-color);
}

.title-price {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.price {
  font-size: 18px;
}

.price-discount {
  font-size: 16px;
}

.price-total {
  margin-top: 16px;
  font-size: 18px;
  border-top: 1px solid rgba(22, 33, 62, 0.5);
  padding-top: 6px;
  font-family: var(--font-heading);
  margin-bottom: 80px;
}

.pay-btn {
  min-width: 180px;
  max-width: 250px;
  width: 100%;
  height: 50px;
  background-color: var(--yellow-color);
  font-family: var(--font-heading);
  font-size: 18px;
  padding: 0 16px;
  position: absolute;
  color: var(--box-color);
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  box-shadow: 4px 4px 0 var(--box-color);
  cursor: pointer;
}
.pay-btn:hover {
  filter: brightness(90%);
}/*# sourceMappingURL=Pay.module.css.map */