@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Work+Sans:wght@300;400&display=swap');

:root {
    --font-heading: 'Bevan', cursive;
    --font-text: 'Work Sans', sans-serif;
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #ccc;
    --text-color: #0f3460;
    --text-color-opacity: rgba(15, 52, 96, 0.7);
    --box-color: #16213e;
    --background-color: #fff5e4;
}
//
html {
    font-family: var(--font-text);
    color: var(--text-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.abc {
    color: aqua;
}
